---
/**
 * * About section
 */

import profileImage from "@assets/images/proj.webp";
import { Image } from "astro:assets";

const blocks = [
  {
    title: "VILLAGE LIVING REBORN IN THE MODERN ERA​​",
    text: "The 'International Village in Northern Greece' project was born as an initiative to establish a vibrant expat community in Greece, modeled after a Greek mediterranean village in the rural area surrounding Thessaloniki, one of the most beautiful cities in Greece and Europe, located just a short drive away. This model will enable participating families to enjoy a lifestyle that many dream of but only a few can afford, while fostering a vibrant and dynamic multi-lingual community. Life in the community established through this project will fulfill the vision of many families to create a safer, calmer, richer, and more fulfilling future for themselves and their children, all while preserving and nurturing a vibrant communal life.",
image: profileImage 
 },


];
---


<section
  id="project"
  class="site-container scroll-mt-2 py-4 md:py-8"
>

  <div class="space-y-6 md:space-y-4">

    {blocks.map(block => (

<div
  class="
    grid
    md:grid-cols-[2fr_1fr]
    gap-6
    lg:gap-12
    items-start
  "
>

  {/* text */}
  <div>

    <h3 class="h2 mb-6">
      {block.title}
    </h3>

    <div
      class="
        bg-base-100
        p-8
        lg:p-10
        lg:text-lg
      "
    >

      <p>
        {block.text}
      </p>

    </div>

  </div>


  {/* image */}
  <div
    class="
      w-full
      max-w-sm
      mx-auto
      md:mx-0
    "
  >

    <div
      class="
        aspect-[3/4]
        overflow-hidden
        rounded-xl
      "
    >

      <Image
        src={block.image}
        alt="Neorama"
        width={450}
        densities={[1.5, 2]}
        class="
          w-full
          h-full
          object-cover
        "
      />

    </div>

  </div>

</div>

    ))}

  </div>

</section>


